<h2 mat-dialog-title>Todo</h2>
<mat-dialog-content>
  <form [formGroup]="todoFormGroup">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="todoFormGroup.get('title')?.hasError('required')">
        The title field is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
      <mat-error *ngIf="todoFormGroup.get('description')?.hasError('required')">
        The description field is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    mat-flat-button
    [disabled]="!todoFormGroup.valid"
    (click)="submitValues()"
  >
    {{ this.data ? "Edit" : "Create" }}
  </button>
</mat-dialog-actions>
