* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #002f31;
  color: #ccc;
}

todos {
  table {
    max-width: 800px;
    margin: auto;
    .mat-mdc-header-row {
      background-color: #008086;
    }
    .mat-column-id,
    .mat-column-actions {
      width: 160px;
    }

    .archived {
      text-decoration: line-through;
    }
  }
}
